# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/vcxproj_msvc2019/*.user
/tests/*.txt
/tests/test.bat
/_prj_msvc2019/*.user
/.distr
/*.log
/umba-pretty-headers.txt
/windeployqt.txt
/compile_flags_0.cpp
/compile_flags_0.txt
